
/* Put custom app styles here.
 *
 * You can also import CSS modules from npm
 *
 * E.g.
 * @import 'basscss';
 */


body {
  font-family: sans-serif;
  padding: 2rem;
  color: #111;
}


/*
 * Adjust custom media query values here
 * or in webpack.config.js
 *
 * E.g.
 * @custom-media --breakpoint-sm (min-width: 42em);
*/

:root {
  /* Adjust custom property values (i.e. variables) here
   * or in webpack.config.js
   *
   * E.g.
   * --font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, sans-serif;
   */
}

